---
import Layout from '@/layouts/BlogLayout.astro';
const obj = {
	title: "Md Saban"
}
---

<Layout postDetails={obj}>
	<main class="min-h-[90vh] min-w-full flex items-center justify-center">
		<div class="text-center">
			<h1 class="text-2xl">Hey 👋 I'm Saban</h1>
			<div>Website is under maintenance...</div>
			
			<div class="flex mt-10">
				<div class="pr-4 mr-4 border-r-2">
					<a href="mailto:contact@mdsaban.com">contact@mdsaban.com</a>
				</div>
				<div>
					<a href="https://www.linkedin.com/in/iamsaban/" target="_blank">LinkedIn</a>
				</div>
			</div>
		</div>
	</main>
</Layout>
