---

---

<footer class='bg-black text-center text-white pb-20'>
  <div class='lg:text-6xl md:text-4xl text-xl font-semibold'>
    ✨ <br />
    contact@notsakib.com
  </div>
  <ul class='text-lg flex gap-4 justify-center mt-4'>
    <li class='border-r pr-4'>
      <a href='https://www.linkedin.com/in/sakibkhan04/' target='_blank'>LinkedIn</a>
    </li>
    <li><a href='#' target='_blank'>Twitter</a></li>
  </ul>
</footer>

<style>
  nav {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }
</style>
