---
const { collection } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<nav class="py-6 mb-6 flex justify-between items-center">
	<div>
		<a class="logo text-2xl font-medium" href="/">Md Saban</a>
	</div>
	<div>
		{collection && <a class="capitalize" href={'/'+collection}>{collection}</a>}
	</div>
</nav>

<!-- <ViewTransitions/> -->

<style>
	nav {
		max-width: 1000px;
		margin: 0 auto;
		border-bottom: 1px solid #ccc;
	}
	.logo {
		font-family: "Source Serif 4 Variable";
	}

</style>