---
const { href, title, body } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<nav class="mb-6 flex justify-between items-center">
	<div>
		<a class="text-xl font-medium" href="/">Md Saban</a>
	</div>
	<div>
		<a href="/packages">Packages</a>
	</div>
</nav>

<!-- <ViewTransitions/> -->

<style>

</style>