---
import logo from '@/images/homepage/logo.png'
const { collection, width } = Astro.props
import { ViewTransitions } from 'astro:transitions'
import { Image } from 'astro:assets'
---

<nav class='flex items-center justify-between py-6 mb-6' style={'max-width:' + width + 'px'}>
  <div>
    <a href='/'>
      <span class='w-[90px] font-bold text-lg'>!Sakib</span>
    </a>
  </div>
  <div>
    <a href='/' class='mr-6'>Home</a>
    <a href='/about'>About</a>
    <!-- {
      collection ? (
        <a class='capitalize' href={'/' + collection}>
          {collection}
        </a>
      ) : (
        <a href='/posts'>Posts</a>
      )
    } -->
  </div>
</nav>

<!-- <ViewTransitions/> -->

<style>
  nav {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }
</style>
