---
import '@fontsource/uncut-sans/400.css'
import '@fontsource/uncut-sans/500.css'
import '@fontsource/uncut-sans/600.css'
import '@fontsource/uncut-sans/700.css'

const defaultImage = '/src/images/placeholder-1.jpeg'

import Header from '@/components/Header.astro'

const { postDetails } = Astro.props
const { title, description } = postDetails
---

<!doctype html>
<html lang='en'>
  <meta charset='UTF-8' />
  <meta name='description' content={description} />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <link rel='icon' type='image' href='/favicon.ico' />
  <title>{title}</title>

  <body>
    <slot />
  </body><style>
    html {
      font-family: 'Uncut Sans', sans-serif;
    }
  </style>
</html>

<!-- 100% privacy-first analytics -->
<script async defer src='https://scripts.simpleanalyticscdn.com/latest.js'></script>
<noscript
  ><img
    src='https://queue.simpleanalyticscdn.com/noscript.gif'
    alt=''
    referrerpolicy='no-referrer-when-downgrade'
  /></noscript
>
